body {
    background-color: #9b9b9b;
    color: #82dcec;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

ul.square_list {
    list-style-type: square;
}

#header {
    text-align: center;
}