div {
    #prueba {
        border: 2px solid black;
        padding-left: 5px;
        width: 50%;
    }

    #prueba2 {
        border: 2px solid black;
        padding-left: 5px;
        height: 100px;
        margin-bottom: 45px;
    }

    #prueba3 {
        border: 2px solid black;
        padding-left: 5px;
        height: 100px;
        overflow-y: scroll;
    }

    #prueba4 {
        border: 2px solid black;
        padding: 2px;
    }

    #prueba5 {
        border: 2px solid red;
        padding-left: 5px;
    }

    #prueba6 {
        background-color: lightgrey;
        border: 2px solid black;
        padding-left: 5px;
    }

    #prueba7 {
        background-color: lightgrey;
        border: 2px solid black;
        padding-left: 5px;
        width: 200px;
        display: inline-block;
    }

    #prueba8 {
        background-color: green;
        border: 2px solid black;
        padding-left: 5px;
        width: 200px;
        color: white;
        display: inline-block;
        margin-left: 5px;
    }

    #prueba9 {
        background-color: yellow;
        border: 2px solid black;
        padding-left: 5px;
        width: 200px;
        margin-top: 5px;
    }

    #prueba10 {
        background-color: red;
        border: 2px solid black;
        padding-left: 5px;
        width: 200px;
        margin-top: 5px;
    }
}
