body {
    border: 2px solid black;
    padding: 5px;
}

div {
    border: 2px solid black;
    margin: 0 4px;
    padding: 5px;
}

img {
    width: 50px;
    height: 30px;
}

video {
    width: 25%;
    height: 25%;
}